name: CI for Snakemake RNA-seq

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: benson1231/bioc-rnaseq:v2
      options: --user root 
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make init.sh executable
        run: chmod +x init.sh

      - name: Download references data
        run: ./init.sh

      - name: Run Snakemake dry-run
        run: |
          cd workflow
          snakemake -np \
            --configfile ../.test/config/config.yaml

      - name: Run Snakemake with test data
        run: |
          cd workflow
          snakemake --cores 4 \
            --use-conda --show-failed-logs \
            --configfile ../.test/config/config.yaml