name: CI for Snakemake RNA-seq

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: benson1231/bioc-rnaseq:v2
      options: --user root 
    
    steps:
      - name: Prepare GOSemSim cache directory
        run: |
          mkdir -p ~/.local/share/GOSemSim

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache reference
        id: cache-ref
        uses: actions/cache@v4
        with:
          path: |
            workflow/references/gene_annotations_113.csv
            workflow/references/transcript_annotations_113.csv
            workflow/references/transcriptome.idx
          key: ref-v1-${{ hashFiles('init.sh') }}
          restore-keys: |
            ref-v1-

      - name: Run init.sh to build references
        if: steps.cache-ref.outputs.cache-hit != 'true'
        run: |
          chmod +x init.sh  
          ./init.sh

      - name: Debug reference folder
        run: ls -lh workflow/reference || true

      - name: Show system resources
        run: |
          echo "===== CPU and memory ====="
          top -b -n 1 | head -n 20

          echo "===== Memory ====="
          free -h

          echo "===== Disk usage ====="
          df -h

      - name: Snakemake dry-run
        run: |
          cd workflow
          snakemake -np \
            --configfile ../.test/config/config.yaml

      - name: Run Snakemake with test data
        run: |
          cd workflow
          snakemake --cores 4 \
            --use-conda --show-failed-logs \
            --configfile ../.test/config/config.yaml
