name: CI for Snakemake RNA-seq

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: benson1231/bioc-rnaseq:v2
    
    steps:
      - name: Prepare GOSemSim cache directory
        run: |
          mkdir -p ~/.local/share/GOSemSim

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run init.sh to build references
        run: |
          chmod +x init.sh  
          ./init.sh

      - name: Show system resources
        run: |
          echo "===== CPU and memory ====="
          top -b -n 1 | head -n 20
          echo "===== Memory ====="
          free -h
          echo "===== Disk usage ====="
          df -h

      - name: Snakemake dry-run
        run: |
          cd workflow
          snakemake -np \
            --configfile ../.test/config/config.yaml

      - name: Run Snakemake with test data
        run: |
          cd workflow
          snakemake --cores 4 \
            --use-conda --show-failed-logs \
            --configfile ../.test/config/config.yaml

      - name: Snakemake summary + Conda environment details
        run: |
          cd workflow

          echo "===== Snakemake Version ====="
          snakemake --version
          echo
          echo "===== Detailed Summary ====="
          snakemake --detailed-summary --configfile ../.test/config/config.yaml
          echo
          echo "===== Conda Environments Used ====="
          find .snakemake/conda -maxdepth 1 -type d -print || true
          echo
          echo "===== Conda Environment Package Versions ====="
          for env in .snakemake/conda/*; do
            if [ -d "$env" ]; then
              echo "--- ENV: $env ---"
              conda list --prefix "$env" || true
            fi
          done