name: CI for Snakemake RNA-seq

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: benson1231/bioc-rnaseq:v2
      options: --user root 
    
    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/share/boost
          df -h
          
      - name: Fix R tempdir permission
        run: |
          mkdir -p $HOME/Rtmp
          chmod 777 $HOME/Rtmp
          echo "TMPDIR=$HOME/Rtmp" >> $GITHUB_ENV
          echo "TEMP=$HOME/Rtmp" >> $GITHUB_ENV
          echo "TMP=$HOME/Rtmp" >> $GITHUB_ENV
          echo "R_TEMP_DIR=$HOME/Rtmp" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Snakemake dry-run
        run: |
          cd workflow
          snakemake -np \
            --configfile ../.test/config/config.yaml

      - name: Run Snakemake with test data
        run: |
          cd workflow
          snakemake --cores 4 \
            --use-conda --show-failed-logs \
            --configfile ../.test/config/config.yaml